@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Merriweather", serif;
}

.header{
    margin-top: 100px;
    margin-bottom: 100px;
}

.container{
    margin: 0px auto;
    width: 80%;
    background-image: url("../img/Banner\ Image.png");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 13px;
}

.content{
    text-align: center;
    z-index: 2;
}
.content h3{
    color: white;
    font-size: 32px;
    font-weight: 400;
}
.content h1{
    color: white;
    font-size: 72px;
    font-weight: 600;
    line-height: 98%;
    padding-top: 25px;
}

.discount{
    margin: 0px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount div{
    text-align: center;
}

.discount h1{
    font-size: 88px;
    font-weight: 600;
    color: red;
    margin-bottom: 25px;
}

.discount h4{
    font-size: 24px;
    font-weight: 400;
    color: red;
}

.discount h2{
    font-size: 48px;
    font-weight: 800;
    color: black;
}

.discount img{
    padding: 25px 0px;
}

.welcome{
    margin: 0px auto;
    width: 80%;
    background-image: url("../img/Vectorrr.png");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
}

.welcome::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 15px;
}

.welcome div{
    margin: 50px;
    z-index: 3;
}

.welcome h2{
    color: white;
    font-size: 64px;
    font-weight: 400;
}

.welcome p{
    color: white;
    font-size: 16px;
    width: 70%;
    font-weight: 400;
    margin-top: 15px;
    line-height: 22px;
}

.welcome button{
    background-color: rgba(0,0,0, 0);
    color: white;
    border: 0px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: 5px;
}